# Google OAuth - get your Client ID from Google Cloud Console
# https://console.cloud.google.com/apis/credentials
VITE_GOOGLE_CLIENT_ID=737302176157-8b23ul5niaom24ur5pukhcllt89gmfir.apps.googleusercontent.com